
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>MovieRank</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/cover/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <br>

          <h3 class="masthead-brand">MovieRank</h3>
          <nav class="nav nav-masthead justify-content-center">
            <% if (user == 0) { %>
              <a class="nav-link" href="/login">Sign In</a>
              <a class="nav-link" href="/Register">Register</a>
            <% } else {%>
              <a class="nav-link" href="/profile">Profile</a>
              <a class="nav-link" href="/logout">Logout</a>
            <% } %>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Search For Rankings</h1>
        <div class="container">
          <form action='/search' method='POST' class="form-inline text-center justify-content-center">
            <div class="form-group flex-grow-1 mb-5">
              <input type="text" class="form-control flex-grow-1" id="search" name='movieTitle' placeholder="Enter Movie Title">
            </div>
            <button type="submit" id='submit' class="btn btn-primary mb-5">Search</button>
            
          </form>
        </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
